<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello GO!!!</title>
</head>
<body>
<h1>Hello Go!!!</h1>
{{$meaing := .}}
<h2>The purpose of programming is: {{$meaing}}</h2>
</body>
</html>